@import "tailwindcss";

@theme {
  --color-base-background: #121214;
  --color-base-shape-principal: #202024;
  --color-base-shape-secundaria: #29292E;
  --color-base-shape-terciaria: #323238;
  --color-base-placeholder: #7C7C8A;
  --color-base-text: #C4C4CC;
  --color-base-title: #E1E1E6;
  --color-white: #FFFFFF;
  --color-green-dark: #015F43;
  --color-green: #00875F;
  --color-green-light: #00B37E;
  --color-red-dark: #AA2834;
  --color-red: #F75A68;
}

@layer base {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body {
        background-color: var(--color-base-shape-principal);
        color: var(--color-base-text) ;
        -webkit-font-smoothing: antialiased;
    }
}

@layer components{
    .Buttons{
        @apply bg-blue-700 text-white p-2 rounded-md font-semibold hover:bg-blue-800 transition-all
    }
}